.hero {
  background: radial-gradient(50% 50% at 50% 50%, #570101 0%, #000000 100%);
  background-blend-mode: darken;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.35);
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.hero-img {
  z-index: 11;
  position: absolute;
}

.hero-title {
  justify-content: center;
}
.hero h1 {
  color: #fff;
  letter-spacing: 1.15rem;
  font-size: 10rem;
  z-index: 1;
  font-weight: bold;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero h2 {
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  z-index: 111;
  opacity: 0.75;
}
.hero h1 span {
  color: #000000;
  z-index: 111;
  text-shadow: #000000 5px 5px 25px;
  position: relative;
}

.btn {
  background-color: rgba(253, 253, 253, 0.15);
  color: #fff;
  border-radius: 15px;
  position: absolute;
  z-index: 11;
  padding: 10px 20px;
  bottom: 15%;
  font-size: 16px;
}

.btn:hover {
  background-color: rgba(253, 253, 253, 0.95);
}

footer {
  background: #000;
  text-align: center;
  color: #fcfcfc;
}

footer a {
  color: #fff;
  transition: 1s;
}

footer a:hover {
  color: red;
  transition: 0.5s;
}
